.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.header {
  border-bottom: solid 1px var(--head-border-line);
  position: relative;
}
.header__menu-nav {
  display: flex;
  // align-items: center;
}

.header__logo {
  color: var(--logo-color-sec);
  display: inline-block;
  text-decoration-line: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  padding-top: 26px;
  padding-bottom: 16px;
  margin-right: 87px;
}
.logo--blue {
  color: var(--accent-color);
}

.header__navigation {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 80px;
}

.header__page-nav {
  color: var(--secondary-text-color);
  display: flex;
  list-style: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-right: auto;
}

.head-contacts-menu {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.header__page-nav .header__item {
  margin-right: 50px;
}

.header__page-nav .header__item:last-child {
  margin-right: 0px;
}

.header__link {
  color: var(--secondary-text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-animation);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (max-width: 767px) {
    font-size: 40px;
  }
}

.header__link--current {
  color: var(--accent-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  @media screen and (max-width: 767px) {
    font-size: 40px;
  }
}

.head-contacts-menu {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.head-contacts-menu__item {
  display: flex;
  flex-direction: column-reverse;
  align-items: baseline;

  font-weight: 500;
  letter-spacing: 0.02em;

  @media screen and (max-width: 767.98px) {
    margin-bottom: 64px;
  }

  @media screen and (min-width: 768px) {
    flex-direction: column;
    justify-content: center;
    margin-left: auto;

    font-size: 12px;
    line-height: calc(14 / 12);

    // &.header__icon-mail,
    // &.header__icon-tel {
    //   display: none;
    // }
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;

    font-size: 14px;
    line-height: calc(16 / 14);
  }
}

.header__contact-info {
  color: var(--primery-text-color);
  // display: flex;
  // align-items: center;
  // padding-top: 32px;
  // padding-bottom: 32px;
  text-decoration-line: none;
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic-animation);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (max-width: 767px) {
    font-size: 34px;

    &.e-mail {
      font-size: 24px;
    }
  }
}

.header__contacts-list .header__contact-item {
  margin-right: 50px;
}
.header__contacts-list .header__contact-item:last-child {
  margin-right: 0px;
}

/* ==========Задали синюю полосу в навигации по страницам========== */

.header__link--current {
  position: relative;
}

.header__link--current::after {
  @media screen and (min-width: 768px) {
    position: absolute;
    content: '';
    bottom: 0;
    display: block;
    background-color: var(--head-button-bgr-color);
    width: 100%;
    height: 4px;
    border-radius: 2px;
  }
}

// .page-hero__container {
//   width: auto;
// }
